/* =======================
   RESPONSIVE.CSS
======================= */

@media (max-width: 900px) {
  .nav-actions { display: none; }
  .blog-grid {
    grid-template-columns: 1fr;
  }
  .blog-preview-grid {
    grid-template-columns: 1fr;
  }
}
